body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #f7f7f7, #e0e0e0);
}

nav {
    display: flex;
    flex-direction: row;
    gap: 40rem;
    text-align: center;
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}


footer a:hover {
    transform: scale(1.2);
}


nav ul li a:hover {
    color: #fee16e;
}


nav ul li a.active {
    color: orange;
}

nav ul li a.active::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    color: orange;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin: 5px;
}

footer a:hover {
    color: orange;
}


footer h3 {
    animation: fadeInUp 1.5s;
    -webkit-animation: fadeInUp 1.5s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

footer a {
    transition: color 0.3s;
}